@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@implements IDisposable

<button @onclick="CreateNewGame" disabled="@(!IsConnected)">Create new game</button>

@code {
  private HubConnection hubConnection;

  protected override async Task OnInitializedAsync()
  {
    hubConnection = new HubConnectionBuilder()
        .WithUrl(NavigationManager.ToAbsoluteUri("/connect6hub"))
        .Build();

    hubConnection.On<string>("NewGameIdReceived", (gameId) => NavigationManager.NavigateTo($"game/{gameId}"));

    await hubConnection.StartAsync();
  }

  Task CreateNewGame() => hubConnection.SendAsync("CreateNewGame");

  public bool IsConnected =>
      hubConnection.State == HubConnectionState.Connected;

  public void Dispose()
  {
    _ = hubConnection.DisposeAsync();
  }
}